@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.bg-dark {
  background-color: black;
}

.text-light {
  background-color: white;
}

/* Add any additional styles for the Home and About components */

/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Playfair', serif */
/* font-family: 'Open Sans', sans-serif; */

/* navbar */
.navbar {
  font-family: "Open Sans", sans-serif;
  font-size: 23px;
  line-height: 22px;
  text-transform: uppercase;
  box-shadow: 0 8px 6px -12px rgb(107, 107, 107);
  --webkit-box-shadow: 0 8px 6px -6px rgb(49, 49, 49);
  border-bottom: solid rgb(156, 156, 156) !important;
  padding: 3px;
}

.nav-link {
  font-weight: 400 !important;
  font-size: 15px;
  margin-right: 1rem;
}

a.dropdown-item {
  text-align: center;
}

.dropdown-menu {
  padding: 0px;
  width: 100%;
}

.navbar-collapse {
  text-align: center;
  padding: 2px;
}

.dropdown-item {
  font-size: 13px;
}

.navbar-brand {
  font-weight: 700;
  font-family: "roboto", sans-serif;
  letter-spacing: normal;
}

.star {
  display: inline-block;
  cursor: pointer;
}

.star .star-icon {
  width: 20px;
  height: 20px;
  fill: none;
  stroke: currentColor;
  stroke-width: 1px;
}

.star.filled .star-icon {
  fill: rgb(255, 217, 1);
}

.footer h4 {
  font-size: 20px;
}

/* page not found */
.pnf {
  display: flex;
  min-height: 65vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pnf-title {
  font-size: 100px;
  font-weight: 700;
}

.pnf-heading {
  font-weight: normal;
}

.pnf-btn {
  color: black;
  border: 1px solid black;
  text-decoration: none;
  padding: 10px;
  margin-top: 10px;
  transition: 0.6s;
}

.pnf-btn:hover {
  background-color: black;
  color: rgb(243, 243, 243);
}

/* signup page */

.signup {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75vh;
  flex-direction: column;
}

.forgetpassword {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75vh;
  flex-direction: column;
}

.login-wrapper {
  background-color: rgb(145, 145, 145);
  width: 400px;
  border-radius: 4px;
  padding: 10px;
  box-shadow: 0 8px 6px -6px grey;
  height: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
/* admin product */

.animated-heart {
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}
/* admin product end */
.forget-password {
  font-weight: 600;
  font-size: 1rem;
}

.signup-wrapper {
  margin-top: 0px;
  background-color: rgb(145, 145, 145);
  width: 400px;
  margin-left: 700px;
  border-radius: 4px;
  padding: 8px;
  box-shadow: 8px 10px 9px -8px grey;
}

body {
  overflow-x: hidden;
  /* Hide horizontal scrollbar */
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(129, 129, 129);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background: rgb(48, 48, 48);
  border-radius: 10px;
}

/* carousel single product */
.card {
  border: none;
  border-radius: 0;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
}
.carousel-inner {
  padding: 1rem;
}
.card-similar {
  margin-left: 3rem;
}

.carousel-control-prev,
.carousel-control-next {
  background-color: #7e7e7e;
  width: 4vh;
  height: 4vh;
  border-radius: 50%;
  top: 50%;
  margin-right: 10px;
  transform: translateY(-50%);
}
.carousel-control-prev span,
.carousel-control-next span {
  width: 1.5rem;
  height: 1.5rem;
}
@media screen and (min-width: 577px) {
  .cards-wrapper {
    display: flex;
  }

  .card {
    margin: 0 0.5em;
    width: calc(100% / 2);
  }
}
@media screen and (max-width: 576px) {
  .card:not(:first-child) {
    display: none;
  }
  .nav-bar-cart-wish-slider {
    display: none;
  }
  .search-bar-small {
    margin-top: 10px;
    margin-bottom: 7px;
  }
}
@media screen and (max-width: 994px) {
  .nav-bar-cart-wish-slider {
    display: none;
  }
}

.image-wrapper img {
  max-width: 100%;
  max-height: 100%;
}

/* hero section */
.mb-6 {
  margin-bottom: 4.5rem !important;
}
.mb-7 {
  margin-bottom: 6rem !important;
}
.mb-8 {
  margin-bottom: 7.5rem !important;
}
.mb-9 {
  margin-bottom: 9rem !important;
}
.mb-10 {
  margin-bottom: 10.5rem !important;
}
.py-6 {
  padding-top: 4.5rem !important;
  padding-bottom: 4.5rem !important;
}
.py-7 {
  padding-top: 6rem !important;
  padding-bottom: 6rem !important;
}
.py-8 {
  padding-top: 7.5rem !important;
  padding-bottom: 7.5rem !important;
}
.py-9 {
  padding-top: 9rem !important;
  padding-bottom: 9rem !important;
}
.py-10 {
  padding-top: 10.5rem !important;
  padding-bottom: 10.5rem !important;
}
.hcf-bp-center {
  background-position: center !important;
}
.hcf-bs-cover {
  background-size: cover !important;
}
@media (min-width: 576px) {
  .mb-sm-6 {
    margin-bottom: 4.5rem !important;
  }
  .mb-sm-7 {
    margin-bottom: 6rem !important;
  }
  .mb-sm-8 {
    margin-bottom: 7.5rem !important;
  }
  .mb-sm-9 {
    margin-bottom: 9rem !important;
  }
  .mb-sm-10 {
    margin-bottom: 10.5rem !important;
  }
  .py-sm-6 {
    padding-top: 4.5rem !important;
    padding-bottom: 4.5rem !important;
  }
  .py-sm-7 {
    padding-top: 6rem !important;
    padding-bottom: 6rem !important;
  }
  .py-sm-8 {
    padding-top: 7.5rem !important;
    padding-bottom: 7.5rem !important;
  }
  .py-sm-9 {
    padding-top: 9rem !important;
    padding-bottom: 9rem !important;
  }
  .py-sm-10 {
    padding-top: 10.5rem !important;
    padding-bottom: 10.5rem !important;
  }
}
@media (min-width: 768px) {
  .mb-md-6 {
    margin-bottom: 4.5rem !important;
  }
  .mb-md-7 {
    margin-bottom: 6rem !important;
  }
  .mb-md-8 {
    margin-bottom: 7.5rem !important;
  }
  .mb-md-9 {
    margin-bottom: 9rem !important;
  }
  .mb-md-10 {
    margin-bottom: 10.5rem !important;
  }
  .py-md-6 {
    padding-top: 4.5rem !important;
    padding-bottom: 4.5rem !important;
  }
  .py-md-7 {
    padding-top: 6rem !important;
    padding-bottom: 6rem !important;
  }
  .py-md-8 {
    padding-top: 7.5rem !important;
    padding-bottom: 7.5rem !important;
  }
  .py-md-9 {
    padding-top: 9rem !important;
    padding-bottom: 9rem !important;
  }
  .py-md-10 {
    padding-top: 10.5rem !important;
    padding-bottom: 10.5rem !important;
  }
}
@media (min-width: 992px) {
  .nav-bar-cart-wish {
    display: none;
  }
  .mb-lg-6 {
    margin-bottom: 4.5rem !important;
  }
  .mb-lg-7 {
    margin-bottom: 6rem !important;
  }
  .mb-lg-8 {
    margin-bottom: 7.5rem !important;
  }
  .mb-lg-9 {
    margin-bottom: 9rem !important;
  }
  .mb-lg-10 {
    margin-bottom: 10.5rem !important;
  }
  .py-lg-6 {
    padding-top: 4.5rem !important;
    padding-bottom: 4.5rem !important;
  }
  .py-lg-7 {
    padding-top: 6rem !important;
    padding-bottom: 6rem !important;
  }
  .py-lg-8 {
    padding-top: 7.5rem !important;
    padding-bottom: 7.5rem !important;
  }
  .py-lg-9 {
    padding-top: 9rem !important;
    padding-bottom: 9rem !important;
  }
  .py-lg-10 {
    padding-top: 10.5rem !important;
    padding-bottom: 10.5rem !important;
  }
}
@media (min-width: 1200px) {
  .nav-bar-cart-wish {
    display: none;
  }
  .mb-xl-6 {
    margin-bottom: 4.5rem !important;
  }
  .mb-xl-7 {
    margin-bottom: 6rem !important;
  }
  .mb-xl-8 {
    margin-bottom: 7.5rem !important;
  }
  .mb-xl-9 {
    margin-bottom: 9rem !important;
  }
  .mb-xl-10 {
    margin-bottom: 10.5rem !important;
  }
  .py-xl-6 {
    padding-top: 4.5rem !important;
    padding-bottom: 4.5rem !important;
  }
  .py-xl-7 {
    padding-top: 6rem !important;
    padding-bottom: 6rem !important;
  }
  .py-xl-8 {
    padding-top: 7.5rem !important;
    padding-bottom: 7.5rem !important;
  }
  .py-xl-9 {
    padding-top: 9rem !important;
    padding-bottom: 9rem !important;
  }
  .py-xl-10 {
    padding-top: 10.5rem !important;
    padding-bottom: 10.5rem !important;
  }
}
@media (min-width: 1400px) {
  .nav-bar-cart-wish {
    display: none;
  }
  .mb-xxl-6 {
    margin-bottom: 4.5rem !important;
  }
  .mb-xxl-7 {
    margin-bottom: 6rem !important;
  }
  .mb-xxl-8 {
    margin-bottom: 7.5rem !important;
  }
  .mb-xxl-9 {
    margin-bottom: 9rem !important;
  }
  .mb-xxl-10 {
    margin-bottom: 10.5rem !important;
  }
  .py-xxl-6 {
    padding-top: 4.5rem !important;
    padding-bottom: 4.5rem !important;
  }
  .py-xxl-7 {
    padding-top: 6rem !important;
    padding-bottom: 6rem !important;
  }
  .py-xxl-8 {
    padding-top: 7.5rem !important;
    padding-bottom: 7.5rem !important;
  }
  .py-xxl-9 {
    padding-top: 9rem !important;
    padding-bottom: 9rem !important;
  }
  .py-xxl-10 {
    padding-top: 10.5rem !important;
    padding-bottom: 10.5rem !important;
  }
}
.hcf-overlay {
  --hcf-overlay-opacity: 0.5;
  --hcf-overlay-bg-color: var(--bs-black-rgb);
  position: relative;
}
.hcf-overlay::after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(
    var(--hcf-overlay-bg-color),
    var(--hcf-overlay-opacity)
  );
  z-index: 0;
}
.hcf-overlay > * {
  position: relative;
  z-index: 1;
}
.hcf-transform {
  transform: scale3d(1, 1, 1);
  transform-style: preserve-3d;
  transition: all 0.5s;
}
.hcf-transform:hover {
  transform: scale3d(1.01, 1.01, 1.01);
}

.loadmore {
  color: green;
  font-weight: bold;
  font-size: 1.1rem;
  margin-left: 45rem;
}

/* card css product */

.shell {
  padding: 80px 0;
}
.wsk-cp-product {
  background: #fff;
  padding: 15px;
  border-radius: 6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  position: relative;
  margin: 20px auto;
}
.wsk-cp-img {
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translate(-50%);
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -o-transform: translate(-50%);
  -khtml-transform: translate(-50%);
  width: 100%;
  padding: 15px;
  transition: all 0.2s ease-in-out;
}
.wsk-cp-img img {
  width: 100%;
  transition: all 0.2s ease-in-out;
  border-radius: 6px;
}
.wsk-cp-product:hover .wsk-cp-img {
  top: -40px;
}
.wsk-cp-product:hover .wsk-cp-img img {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
.wsk-cp-text {
  padding-top: 150%;
}
.wsk-cp-text .category {
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  padding: 5px;
  margin-bottom: 45px;
  position: relative;
  transition: all 0.2s ease-in-out;
}
.wsk-cp-text .category > * {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -khtml-transform: translate(-50%, -50%);
}
.wsk-cp-text .category > span {
  padding: 12px 30px;
  border: 1px solid #313131;
  background: #212121;
  color: #fff;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  border-radius: 27px;
  transition: all 0.05s ease-in-out;
}
.wsk-cp-product:hover .wsk-cp-text .category > span {
  border-color: #ddd;
  box-shadow: none;
  padding: 11px 28px;
}
.wsk-cp-product:hover .wsk-cp-text .category {
  margin-top: 0px;
}
.wsk-cp-text .title-product {
  text-align: center;
}
.wsk-cp-text .title-product h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 15px auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}
.wsk-cp-text .description-prod p {
  margin: 0;
}
/* Truncate */
.wsk-cp-text .description-prod {
  text-align: center;
  width: 100%;
  height: 62px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin-bottom: 15px;
}
.card-footer {
  padding: 25px 0 5px;
  border-top: 1px solid #ddd;
}
.card-footer:after,
.card-footer:before {
  content: "";
  display: table;
}
.card-footer:after {
  clear: both;
}

.card-footer .wcf-left {
  float: left;
}

.card-footer .wcf-right {
  float: right;
  margin-right: 5px;
}

.price {
  font-size: 18px;
  font-weight: bold;
}

a.buy-btn {
  display: block;
  color: #212121;
  text-align: center;
  font-size: 18px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  border-radius: 50%;
  border: 1px solid #212121;
  transition: all 0.2s ease-in-out;
}
a.buy-btn:hover,
a.buy-btn:active,
a.buy-btn:focus {
  border-color: #ff9800;
  background: #ff9800;
  color: #fff;
  text-decoration: none;
}
.wsk-btn {
  display: inline-block;
  color: #212121;
  text-align: center;
  font-size: 18px;
  transition: all 0.2s ease-in-out;
  border-color: #ff9800;
  background: #ff9800;
  padding: 12px 30px;
  border-radius: 27px;
  margin: 0 5px;
}
.wsk-btn:hover,
.wsk-btn:focus,
.wsk-btn:active {
  text-decoration: none;
  color: #fff;
}
.red {
  color: #f44336;
  font-size: 22px;
  display: inline-block;
  margin: 0 5px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .loadmore {
    margin-left: 8rem;
  }
  .signup {
    flex-direction: row;
  }
  .btn-small-margin {
    margin-top: 7px;
  }
}
@media screen and (max-width: 991px) {
  .wsk-cp-product {
    margin: 40px auto;
  }
  .wsk-cp-product .wsk-cp-img {
    top: -40px;
  }
  .wsk-cp-product .wsk-cp-img img {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  }
  .wsk-cp-product .wsk-cp-text .category > span {
    border-color: #ddd;
    box-shadow: none;
    padding: 11px 28px;
  }
  .wsk-cp-product .wsk-cp-text .category {
    margin-top: 0px;
  }
  a.buy-btn {
    border-color: #ff9800;
    background: #ff9800;
    color: #fff;
  }
}

/* category sect */

/* login and signup */

.signup-bg {
  background-image: url("../src/assets/bgLogin.jpg");
}

.margin-admin {
  margin-top: 2rem;
}
