@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.bg-dark {
  background-color: black;
}
main {
  background-color: rgb(228, 228, 228);
}
.text-light {
  background-color: white;
}
/* down there is hero styling */
.slide {
  text-decoration: none;
  color: white;
}
.slide-btn {
  display: none;
}
.carousel {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.carousel h1 {
  text-align: center;
  margin: 0 auto;
  line-height: 75vh;
  font-size: 10vmin;
}
.slide {
  float: left;
  height: 100%;
  width: 0;
  transition: width 0.3s linear;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
}
.slide > * {
  transition: transform 0.15s linear;
  transform: scale(0);
}
.labels {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.labels label {
  display: inline-block;
  background-color: transparent;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  margin: 0.5vmin 2vmin;
  border: 3px solid white;
}
.carousel .one,
.carousel .two,
.carousel .four,
.carousel .five {
  background-position: center center;
  background-size: cover;
}
.carousel .one {
  background-image: url(https://cdn.pixabay.com/photo/2016/10/14/19/21/canyon-1740973__340.jpg);
}
.carousel .two {
  background-image: url(https://cdn.pixabay.com/photo/2018/05/30/00/24/thunderstorm-3440450__340.jpg);
}
.carousel .four {
  background-image: url(https://cdn.pixabay.com/photo/2021/09/20/21/32/lake-6641880__340.jpg);
}
.carousel .five {
  background-image: url(https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg);
}
#slide-btn-1:checked ~ .one,
#slide-btn-2:checked ~ .two,
#slide-btn-4:checked ~ .four,
#slide-btn-5:checked ~ .five {
  width: 100%;
}
#slide-btn-1:checked ~ .one > *,
#slide-btn-2:checked ~ .two > *,
#slide-btn-4:checked ~ .four > *,
#slide-btn-5:checked ~ .five > * {
  transform: scale(1);
}
#slide-btn-1:checked ~ .labels label[for="slide-btn-1"],
#slide-btn-2:checked ~ .labels label[for="slide-btn-2"],
#slide-btn-4:checked ~ .labels label[for="slide-btn-4"],
#slide-btn-5:checked ~ .labels label[for="slide-btn-5"] {
  background-color: white;
}
.credit {
  text-align: center;
  color: #fff;
  margin-top: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.credit a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

/* Hero is above the navbar complete hero css AbOVE WARNING || down navbar */
.navbar {
  font-family: "Open Sans", sans-serif;
  font-size: 23px;
  line-height: 22px;
  text-transform: uppercase;
  box-shadow: 0 8px 6px -12px rgb(107, 107, 107);
  --webkit-box-shadow: 0 8px 6px -6px rgb(49, 49, 49);
  border-bottom: solid rgb(156, 156, 156) !important;
  padding: 3px;
}

.nav-link {
  font-weight: 400 !important;
  font-size: 15px;
  margin-right: 1rem;
}

a.dropdown-item {
  text-align: center;
}

.dropdown-menu {
  padding: 0px;
  width: 100%;
}

.navbar-collapse {
  text-align: center;
  padding: 2px;
}

.dropdown-item {
  font-size: 13px;
}

.navbar-brand {
  font-weight: 700;
  font-family: "roboto", sans-serif;
  letter-spacing: normal;
}

.star {
  display: inline-block;
  cursor: pointer;
}

.star .star-icon {
  width: 20px;
  height: 20px;
  fill: none;
  stroke: currentColor;
  stroke-width: 1px;
}

.star.filled .star-icon {
  fill: rgb(255, 217, 1);
}

.footer h4 {
  font-size: 20px;
}

/* page not found */
.pnf {
  display: flex;
  min-height: 65vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pnf-title {
  font-size: 100px;
  font-weight: 700;
}

.pnf-heading {
  font-weight: normal;
}

.pnf-btn {
  color: black;
  border: 1px solid black;
  text-decoration: none;
  padding: 10px;
  margin-top: 10px;
  transition: 0.6s;
}

.pnf-btn:hover {
  background-color: black;
  color: rgb(243, 243, 243);
}

/* signup page */

.signup {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  flex-direction: column;
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}

.forgetpassword {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75vh;
  flex-direction: column;
}

.login-wrapper {
  background-color: rgb(145, 145, 145);
  width: 400px;
  border-radius: 4px;
  padding: 10px;
  box-shadow: 0 8px 6px -6px grey;
  height: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
/* admin product */

.animated-heart {
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}
/* admin product end */
.forget-password {
  font-weight: 600;
  font-size: 1rem;
}

.signup-wrapper {
  margin-top: 0px;
  background-color: rgb(145, 145, 145);
  width: 400px;
  margin-left: 700px;
  border-radius: 4px;
  padding: 8px;
  box-shadow: 8px 10px 9px -8px grey;
}

body {
  overflow-x: hidden;
  /* Hide horizontal scrollbar */
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(129, 129, 129);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background: rgb(48, 48, 48);
  border-radius: 10px;
}

/* carousel single product */
.card {
  border: none;
  width: 100%; /* Use a percentage or vw for responsiveness */

  border-radius: 0;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
}
.carousel-inner {
  padding: 1rem;
}
.card-similar {
  margin-left: 3rem;
}

.carousel-control-prev,
.carousel-control-next {
  background-color: #7e7e7e;
  width: 4vh;
  height: 4vh;
  border-radius: 50%;
  top: 50%;
  margin-right: 10px;
  transform: translateY(-50%);
}
.carousel-control-prev span,
.carousel-control-next span {
  width: 1.5rem;
  height: 1.5rem;
}

/* noraml styling above all carousel styling */

.button-reset {
  margin-left: 2.1rem;
}
.radio-price {
  margin-left: 1.2rem;
}
.active-image {
  width: 7rem;
  margin: .5rem;
}
.small-image {
  width: 7rem;
  margin: .5rem;

}
/* searchbar styling down here*/

/* search bar styling above */
@media screen and (min-width: 577px) {
  .cards-wrapper {
    display: flex;
  }

  .card {
    margin: 0 0.5em;
    width: calc(100% / 2);
  }
}
@media screen and (max-width: 576px) {
  .nav-bar-cart-wish-slider {
    display: none;
  }
  .radio-price {
    display: flex;
    justify-content: center;
  }
  .button-reset {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
  }
  .search-bar-small {
    margin-top: 10px;
    margin-bottom: 7px;
  }
}
@media screen and (max-width: 994px) {
  .nav-bar-cart-wish-slider {
    display: none;
  }
}

.image-wrapper img {
  max-width: 100%;
  max-height: 100%;
}

/* hero section */

@media (min-width: 992px) {
  .nav-bar-cart-wish {
    display: none;
  }
}
@media (min-width: 1200px) {
  .nav-bar-cart-wish {
    display: none;
  }
}
@media (min-width: 1400px) {
  .nav-bar-cart-wish {
    display: none;
  }
}

.loadmore {
  color: green;
  font-weight: bold;
  font-size: 1.1rem;
  margin-left: 45rem;
}

/* card css product */

.shell {
  padding: 80px 0;
}
.wsk-cp-product {
  background: #fff;
  padding: 15px;
  border-radius: 6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  position: relative;
  margin: 20px auto;
}
.wsk-cp-img {
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translate(-50%);
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -o-transform: translate(-50%);
  -khtml-transform: translate(-50%);
  width: 100%;
  padding: 15px;
  transition: all 0.2s ease-in-out;
}
.wsk-cp-img img {
  width: 100%;
  transition: all 0.2s ease-in-out;
  border-radius: 6px;
}
.wsk-cp-product:hover .wsk-cp-img {
  top: -40px;
}
.wsk-cp-product:hover .wsk-cp-img img {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
.wsk-cp-text {
  padding-top: 150%;
}
.wsk-cp-text .category {
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  padding: 5px;
  margin-bottom: 45px;
  position: relative;
  transition: all 0.2s ease-in-out;
}
.wsk-cp-text .category > * {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -khtml-transform: translate(-50%, -50%);
}
.wsk-cp-text .category > span {
  padding: 12px 30px;
  border: 1px solid #313131;
  background: #212121;
  color: #fff;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  border-radius: 27px;
  transition: all 0.05s ease-in-out;
}
.wsk-cp-product:hover .wsk-cp-text .category > span {
  border-color: #ddd;
  box-shadow: none;
  padding: 11px 28px;
}
.wsk-cp-product:hover .wsk-cp-text .category {
  margin-top: 0px;
}
.wsk-cp-text .title-product {
  text-align: center;
}
.wsk-cp-text .title-product h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 15px auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}
.wsk-cp-text .description-prod p {
  margin: 0;
}
/* Truncate */
.wsk-cp-text .description-prod {
  text-align: center;
  width: 100%;
  height: 62px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin-bottom: 15px;
}
.card-footer {
  padding: 25px 0 5px;
  border-top: 1px solid #ddd;
}
.card-footer:after,
.card-footer:before {
  content: "";
  display: table;
}
.card-footer:after {
  clear: both;
}

.card-footer .wcf-left {
  float: left;
}

.card-footer .wcf-right {
  float: right;
  margin-right: 5px;
}

.price {
  font-size: 18px;
  font-weight: bold;
}

a.buy-btn {
  display: block;
  color: #212121;
  text-align: center;
  font-size: 18px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  border-radius: 50%;
  border: 1px solid #212121;
  transition: all 0.2s ease-in-out;
}
a.buy-btn:hover,
a.buy-btn:active,
a.buy-btn:focus {
  border-color: #ff9800;
  background: #ff9800;
  color: #fff;
  text-decoration: none;
}
.wsk-btn {
  display: inline-block;
  color: #212121;
  text-align: center;
  font-size: 18px;
  transition: all 0.2s ease-in-out;
  border-color: #ff9800;
  background: #ff9800;
  padding: 12px 30px;
  border-radius: 27px;
  margin: 0 5px;
}
.wsk-btn:hover,
.wsk-btn:focus,
.wsk-btn:active {
  text-decoration: none;
  color: #fff;
}
.red {
  color: #f44336;
  font-size: 22px;
  display: inline-block;
  margin: 0 5px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .loadmore {
    margin-left: 8rem;
  }
  .signup {
    flex-direction: row;
  }
  .btn-small-margin {
    margin-top: 7px;
  }
}
@media screen and (max-width: 991px) {
  .wsk-cp-product {
    margin: 40px auto;
  }
  .wsk-cp-product .wsk-cp-img {
    top: -40px;
  }
  .wsk-cp-product .wsk-cp-img img {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  }
  .wsk-cp-product .wsk-cp-text .category > span {
    border-color: #ddd;
    box-shadow: none;
    padding: 11px 28px;
  }
  .wsk-cp-product .wsk-cp-text .category {
    margin-top: 0px;
  }
  a.buy-btn {
    border-color: #ff9800;
    background: #ff9800;
    color: #fff;
  }
}

/*wishlist*/
.wishlist-icon {
  cursor: pointer;
  /* Add other styles as needed */
  /* Transition properties for smooth fade */
  transition: opacity 0.3s ease-in-out;
}

.fade-out {
  opacity: 0;
}
